app/step-functions-templates/icav2_wes_asc_event_to_workflow_rsc_event_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Save Inputs",
  "States": {
    "Save Inputs": {
      "Type": "Pass",
      "Next": "Convert ICAv2 WES event to WRU Event",
      "Assign": {
        "icav2WesStateChangeEvent": "{% $states.input %}",
        "name": "{% $states.input.name %}",
        "inputs": "{% $states.input.inputs %}",
        "tags": "{% $states.input.tags %}",
        "engineParameters": "{% $states.input.engineParameters %}",
        "status": "{% $states.input.status %}"
      }
    },
    "Convert ICAv2 WES event to WRU Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__convert_icav2_wes_event_to_wrsc_event_lambda_function_arn__}",
        "Payload": {
          "icav2WesStateChangeEvent": "{% $icav2WesStateChangeEvent %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Put WRU Event",
      "Assign": {
        "workflowRunStateChangeEvent": "{% $states.result.Payload.workflowRunStateChangeEvent %}",
        "engineParameters": "{% /* Includes the cache uri */ $states.result.Payload.workflowRunStateChangeEvent.payload.data.engineParameters %}"
      }
    },
    "Put WRU Event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $workflowRunStateChangeEvent %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
