app/step-functions-templates/populate_draft_data_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Set inputs as vars",
  "States": {
    "Set inputs as vars": {
      "Type": "Pass",
      "Next": "Validate draft data",
      "Assign": {
        "draftDetail": "{% $states.input %}",
        "draftLibrariesList": "{% $states.input.libraries %}",
        "draftPayload": "{% (\n  $states.input.payload ? \n  $states.input.payload : {\n    \"version\": \"${__default_payload_version__}\"\n  }\n) %}",
        "draftData": "{% $states.input.payload.data ? $states.input.payload.data : {} %}",
        "draftEngineParameters": "{% $states.input.payload.data.engineParameters ? $states.input.payload.data.engineParameters : {} %}",
        "draftTags": "{% $states.input.payload.data.tags ? $states.input.payload.data.tags : {} %}",
        "draftInputs": "{% $states.input.payload.data.inputs ? $states.input.payload.data.inputs : {} %}"
      }
    },
    "Validate draft data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__validate_draft_data_complete_schema_lambda_function_arn__}",
        "Payload": "{% $draftData %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Draft data is valid"
    },
    "Draft data is valid": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.isValid %}",
          "Next": "Success"
        }
      ],
      "Default": "Get workflow object"
    },
    "Get workflow object": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__get_workflow_run_object_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $draftDetail.portalRunId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Do we have matching libraries",
      "Assign": {
        "draftWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
      }
    },
    "Do we have matching libraries": {
      "Type": "Choice",
      "Choices": [
        {
          "Comment": "All libraries in tags",
          "Next": "Get Engine parameters",
          "Condition": "{% /* https://try.jsonata.org/XDJvywd0c */\n/* Compare the draft tags to the libraries */\n/* Get the draft tags */\n(\n    [ \n        $draftTags.(normalDnaLibraryId),\n        $draftTags.(tumorDnaLibraryId),\n        $draftTags.(tumorRnaLibraryId)\n    ] ~> $sort\n)\n=\n/* Get the draft detail libraries */ \n(\n    [\n        $draftLibrariesList.(libraryId)\n    ] ~> $sort \n) %}"
        }
      ],
      "Default": "Get primitive tags from linked libraries"
    },
    "Get primitive tags from linked libraries": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__get_libraries_lambda_function_arn__}",
        "Payload": {
          "libraries": "{% $draftLibrariesList %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Get Engine parameters",
      "Assign": {
        "draftTags": "{% $merge(\n  [\n    $states.result.Payload,\n    $draftTags\n  ]\n) %}"
      }
    },
    "Success": {
      "Type": "Succeed"
    },
    "Get Engine parameters": {
      "Type": "Parallel",
      "Next": "Get tags",
      "Branches": [
        {
          "StartAt": "Has Project ID",
          "States": {
            "Has Project ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided project id",
                  "Condition": "{% $draftEngineParameters.projectId ? true : false %}",
                  "Comment": "Project ID Provided"
                }
              ],
              "Default": "Get Default Project Id"
            },
            "Use provided project id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "projectId": "{% $draftEngineParameters.projectId %}"
              }
            },
            "Get Default Project Id": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_project_id_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "projectId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Pipeline ID",
          "States": {
            "Has Pipeline ID": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided pipeline id",
                  "Condition": "{% ($draftEngineParameters.pipelineId ? $draftEngineParameters.pipelineId : $draftDetail.workflow.executionEnginePipelineId ) ? true : false %}",
                  "Comment": "Pipeline ID Provided"
                }
              ],
              "Default": "Get default pipeline id"
            },
            "Use provided pipeline id": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "pipelineId": "{% $draftEngineParameters.pipelineId ? $draftEngineParameters.pipelineId : $draftDetail.workflow.executionEnginePipelineId %}"
              }
            },
            "Get default pipeline id": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__workflow_id_to_pipeline_id_ssm_parameter_path_prefix__}/' & $draftDetail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "pipelineId": "{% $states.result.Parameter.Value %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Output URI",
          "States": {
            "Has Output URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided output uri",
                  "Condition": "{% $draftEngineParameters.outputUri ? true : false %}",
                  "Comment": "Output URI Provided"
                }
              ],
              "Default": "Get default output uri prefix"
            },
            "Use provided output uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "outputUri": "{% $draftEngineParameters.outputUri %}"
              }
            },
            "Get default output uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_output_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "outputUri": "{% $states.result.Parameter.Value & $draftDetail.portalRunId & '/' %}"
              }
            }
          }
        },
        {
          "StartAt": "Has Logs URI",
          "States": {
            "Has Logs URI": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Use provided logs uri",
                  "Condition": "{% $draftEngineParameters.logsUri ? true : false %}",
                  "Comment": "Logs URI Provided"
                }
              ],
              "Default": "Get default logs uri prefix"
            },
            "Use provided logs uri": {
              "Type": "Pass",
              "End": true,
              "Output": {
                "logsUri": "{% $draftEngineParameters.logsUri %}"
              }
            },
            "Get default logs uri prefix": {
              "Type": "Task",
              "Arguments": {
                "Name": "${__default_logs_uri_prefix_ssm_parameter_name__}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "End": true,
              "Output": {
                "logsUri": "{% $states.result.Parameter.Value & $draftDetail.portalRunId & '/' %}"
              }
            }
          }
        }
      ],
      "Assign": {
        "engineParameters": "{% /* https://try.jsonata.org/6nUH8BUBr */\n [ $draftEngineParameters, $merge($states.result) ] ~> $merge  %}"
      }
    },
    "Get tags": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has normal dna fastqRgidList",
          "States": {
            "Has normal dna fastqRgidList": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set fastq rgid list",
                  "Condition": "{% $draftTags.normalDnaFastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from normal libraries"
            },
            "Set fastq rgid list": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get fastq list rgids from normal libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $draftTags.normalDnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "normalDnaFastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor dna library tag (tags)",
          "States": {
            "Has tumor dna library tag (tags)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Tumor dna Fastq Rgid list set",
                  "Condition": "{% $draftTags.tumorDnaLibraryId ? true : false %}",
                  "Comment": "Has tumor library id"
                }
              ],
              "Default": "tumorDnaFastqRgidList is Empty"
            },
            "Tumor dna Fastq Rgid list set": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set tumor fastq rgid list",
                  "Condition": "{% $draftTags.tumorDnaFastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from tumor dna libraries"
            },
            "Set tumor fastq rgid list": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Get fastq list rgids from tumor dna libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $draftTags.tumorDnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "tumorDnaFastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              }
            },
            "tumorDnaFastqRgidList is Empty": {
              "Type": "Pass",
              "Output": {},
              "End": true
            }
          }
        },
        {
          "StartAt": "Has tumor rna library tag (tags)",
          "States": {
            "Has tumor rna library tag (tags)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Tumor rna fastq rgid list set",
                  "Condition": "{% $draftTags.tumorRnaLibraryId ? true : false %}"
                }
              ],
              "Default": "tumorRnaFastqRgidList is empty"
            },
            "Tumor rna fastq rgid list set": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Set tumor rna libraries",
                  "Condition": "{% $draftTags.tumorRnaFastqRgidList ? true : false %}"
                }
              ],
              "Default": "Get fastq list rgids from tumor rna libraries"
            },
            "Set tumor rna libraries": {
              "Type": "Pass",
              "Output": {},
              "End": true
            },
            "Get fastq list rgids from tumor rna libraries": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "tumorRnaFastqRgidList": "{% $states.result.Payload.fastqRgidList %}"
              },
              "Arguments": {
                "FunctionName": "${__get_fastq_rgids_from_library_id_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $draftTags.tumorRnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "tumorRnaFastqRgidList is empty": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Get subject, individual id and project id tags",
          "States": {
            "Get subject, individual id and project id tags": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_metadata_tags_lambda_function_arn__}",
                "Payload": {
                  "libraryId": "{% $draftTags.normalDnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "subjectId": "{% $states.result.Payload.libraryObj.subject.subjectId %}",
                "individualId": "{% $count($states.result.Payload.libraryObj.subject.individualSet) > 0 ? $states.result.Payload.libraryObj.subject.individualSet[0].individualId : $states.result.Payload.libraryObj.subject.subjectId %}",
                "projectId": "{% $states.result.Payload.libraryObj.projectSet[0].projectId ? $states.result.Payload.libraryObj.projectSet[0].projectId : null %}"
              }
            }
          }
        }
      ],
      "Next": "Get libraries with readsets",
      "Assign": {
        "tags": "{% /* https://try.jsonata.org/05K2l3beH */\n/* List to merge together */\n[\n    /* Start with the draft tags */\n    $draftTags,\n    /* Merge the results list together */\n    $merge($states.result)\n] \n/* Then merge these initial tags with states.result  */\n~> $merge\n/* Remove any keys with values */\n~> $sift(function($v, $k){$v != null}) %}"
      }
    },
    "Get libraries with readsets": {
      "Type": "Parallel",
      "Next": "Get inputs",
      "Branches": [
        {
          "StartAt": "For each rgid (readsets)",
          "States": {
            "For each rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.normalDnaFastqRgidList ? $tags.normalDnaFastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get readset from rgid id",
                "States": {
                  "Get readset from rgid id": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true,
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    }
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $draftLibrariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.normalDnaLibraryId\n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            }
          }
        },
        {
          "StartAt": "Has tumor library tag (readsets)",
          "States": {
            "Has tumor library tag (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Has tumor fastq ids (readsets)",
                  "Condition": "{% $tags.tumorDnaLibraryId ? true : false %}"
                }
              ],
              "Default": "tumor libraries is empty (readsets)"
            },
            "Has tumor fastq ids (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "For each tumor dna rgid (readsets)",
                  "Condition": "{% $tags.tumorDnaFastqRgidList ? true : false %}"
                }
              ],
              "Default": "tumor libraries is empty (readsets)"
            },
            "For each tumor dna rgid (readsets)": {
              "Type": "Map",
              "Items": "{% $tags.tumorDnaFastqRgidList ? $tags.tumorDnaFastqRgidList : [] %}",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get tumor dna library readsets from fastq id list",
                "States": {
                  "Get tumor dna library readsets from fastq id list": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $draftLibrariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.tumorDnaLibraryId \n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              }
            },
            "tumor libraries is empty (readsets)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Has tumor rna tag (readsets)",
          "States": {
            "Has tumor rna tag (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Has tumor rna fastq ids (readsets)",
                  "Condition": "{% $tags.tumorRnaLibraryId ? true : false %}"
                }
              ],
              "Default": "tumor rna libraries is empty (readsets)"
            },
            "Has tumor rna fastq ids (readsets)": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "For each tumor rna rgid (readsets)",
                  "Condition": "{% $tags.tumorRnaFastqRgidList ? true : false %}"
                }
              ],
              "Default": "tumor rna libraries is empty (readsets)"
            },
            "For each tumor rna rgid (readsets)": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get tumor rna library readsets from fastq id list",
                "States": {
                  "Get tumor rna library readsets from fastq id list": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": {
                      "orcabusId": "{% $states.result.Payload.fastqIdList[0] %}",
                      "rgid": "{% $states.input %}"
                    },
                    "Arguments": {
                      "FunctionName": "${__get_fastq_id_list_from_rgid_list_lambda_function_arn__}",
                      "Payload": {
                        "fastqRgidList": "{% [$states.input] %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  }
                }
              },
              "End": true,
              "Output": {
                "library": "{% [\n  /* Draft libraries list */\n  $draftLibrariesList ~>\n  $single(function($libraryIter){\n    $libraryIter.libraryId = $tags.tumorRnaLibraryId \n  }),\n  {\n    \"readsets\": $states.result\n  }\n] ~>\n$merge %}"
              },
              "Items": "{% $tags.tumorRnaFastqRgidList ? $tags.tumorRnaFastqRgidList : [] %}"
            },
            "tumor rna libraries is empty (readsets)": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Assign": {
        "libraries": "{% $states.result.(library) %}"
      }
    },
    "Get inputs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Has dragen wgts rna data",
          "States": {
            "Has dragen wgts rna data": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep Original data (DRAGEN RNA)",
                  "Condition": "{% ($draftInputs.dragenFusions ? true : false) or ($draftInputs.dragenMappingMetrics ? true : false) or ($draftInputs.salmon ? true : false) %}"
                }
              ],
              "Default": "Get dragen wgts rna succeeded event"
            },
            "Get dragen wgts rna succeeded event": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Assign": {
                "upstreamWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
              },
              "Arguments": {
                "FunctionName": "${__find_latest_workflow_lambda_function_arn__}",
                "Payload": {
                  "workflowName": "${__dragen_wgts_rna_workflow_name__}",
                  "libraries": "{% [\n  $libraries ~>\n  $filter(function($v){\n    $v.libraryId in [$draftTags.tumorRnaLibraryId]\n  })\n] %}",
                  "analysisRunId": "{% $draftWorkflowRunObject.analysisRun ? $draftWorkflowRunObject.analysisRun.orcabusId : null %}",
                  "status": "${__succeeded_status__}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Dragen WGTS RNA succeeded workflow found"
            },
            "Dragen WGTS RNA succeeded workflow found": {
              "Type": "Choice",
              "Choices": [
                {
                  "Condition": "{% $upstreamWorkflowRunObject ? true : false %}",
                  "Next": "Get dragen rna inputs from portal run id"
                }
              ],
              "Default": "No dragen WGTS RNA workflow found"
            },
            "Get dragen rna inputs from portal run id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "dragenFusions": "{% $states.result.Payload.dragenFusions %}",
                "dragenMappingMetrics": "{% $states.result.Payload.dragenMappingMetrics %}",
                "salmon": "{% $states.result.Payload.salmon %}"
              },
              "Arguments": {
                "FunctionName": "${__get_dragen_wgts_rna_outputs_from_portal_run_id_lambda_function_arn__}",
                "Payload": {
                  "portalRunId": "{% $upstreamWorkflowRunObject.portalRunId %}",
                  "libraryId": "{% $tags.tumorRnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "No dragen WGTS RNA workflow found": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Keep Original data (DRAGEN RNA)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Has arriba wgts rna data",
          "States": {
            "Has arriba wgts rna data": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep Original data (Arriba RNA)",
                  "Condition": "{% ($draftInputs.arribaPdf ? true : false) or ($draftInputs.arribaTsv ? true : false) %}"
                }
              ],
              "Default": "Get Arriba WGTS RNA Succeeded Event"
            },
            "Get Arriba WGTS RNA Succeeded Event": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Assign": {
                "upstreamWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
              },
              "Arguments": {
                "FunctionName": "${__find_latest_workflow_lambda_function_arn__}",
                "Payload": {
                  "workflowName": "${__arriba_wgts_rna_workflow_name__}",
                  "libraries": "{% [\n  $libraries ~>\n  $filter(function($v){\n    $v.libraryId in [$draftTags.tumorRnaLibraryId]\n  })\n] %}",
                  "analysisRunId": "{% $draftWorkflowRunObject.analysisRun ? $draftWorkflowRunObject.analysisRun.orcabusId : null %}",
                  "status": "${__succeeded_status__}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Arriba WGTS RNA Succeeded workflow found"
            },
            "Arriba WGTS RNA Succeeded workflow found": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Get arriba rna inputs from portal run id",
                  "Condition": "{% $upstreamWorkflowRunObject ? true : false %}"
                }
              ],
              "Default": "No arriba wgts rna workflow found"
            },
            "Get arriba rna inputs from portal run id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": {
                "arribaPdf": "{% $states.result.Payload.arribaPdf %}",
                "arribaTsv": "{% $states.result.Payload.arribaTsv %}"
              },
              "Arguments": {
                "FunctionName": "${__get_arriba_wgts_rna_outputs_from_portal_run_id_lambda_function_arn__}",
                "Payload": {
                  "portalRunId": "{% $upstreamWorkflowRunObject.portalRunId %}",
                  "libraryId": "{% $tags.tumorRnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            },
            "No arriba wgts rna workflow found": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            },
            "Keep Original data (Arriba RNA)": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Has sash dna data",
          "States": {
            "Has sash dna data": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Keep Original data (RNA)",
                  "Condition": "{% ($draftInputs.pcgrTiersTsv ? true : false) or ($draftInputs.purpleGeneTsv ? true : false) or ($draftInputs.svTsv ? true : false) %}"
                }
              ],
              "Default": "Get sash succeeded event"
            },
            "Keep Original data (RNA)": {
              "Type": "Pass",
              "Output": {},
              "End": true
            },
            "Get sash succeeded event": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Output": "{% $states.result.Payload %}",
              "Arguments": {
                "FunctionName": "${__find_latest_workflow_lambda_function_arn__}",
                "Payload": {
                  "workflowName": "${__sash_workflow_name__}",
                  "libraries": "{% [\n  $libraries ~>\n  $filter(function($v){\n    $v.libraryId in [$draftTags.tumorDnaLibraryId, $draftTags.normalDnaLibraryId]\n  })\n] %}",
                  "analysisRunId": "{% $draftWorkflowRunObject.analysisRun ? $draftWorkflowRunObject.analysisRun.orcabusId : null %}",
                  "status": "${__succeeded_status__}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Assign": {
                "upstreamWorkflowRunObject": "{% $states.result.Payload.workflowRunObject %}"
              },
              "Next": "Sash succeeded workflow found"
            },
            "Sash succeeded workflow found": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Get sash inputs from portal run id",
                  "Condition": "{% $upstreamWorkflowRunObject ? true : false %}"
                }
              ],
              "Default": "No sash workflow found"
            },
            "Get sash inputs from portal run id": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__get_sash_outputs_from_portal_run_id_lambda_function_arn__}",
                "Payload": {
                  "portalRunId": "{% $upstreamWorkflowRunObject.portalRunId %}",
                  "normalLibraryId": "{% $tags.normalDnaLibraryId %}",
                  "tumorLibraryId": "{% $tags.tumorDnaLibraryId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true,
              "Output": {
                "pcgrTiersTsv": "{% $states.result.Payload.pcgrTiersTsv %}",
                "purpleGeneTsv": "{% $states.result.Payload.purpleGeneTsv %}",
                "svTsv": "{% $states.result.Payload.svTsv %}"
              }
            },
            "No sash workflow found": {
              "Type": "Pass",
              "End": true,
              "Output": {}
            }
          }
        },
        {
          "StartAt": "Get default input params",
          "States": {
            "Get default input params": {
              "Type": "Task",
              "Arguments": {
                "Name": "{% '${__default_inputs_ssm_parameter_prefix__}/' & $draftDetail.workflow.version %}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Output": "{% $parse($states.result.Parameter.Value) %}",
              "End": true
            }
          }
        }
      ],
      "Next": "Make new WRU event",
      "Assign": {
        "draftInputs": "{% /* https://try.jsonata.org/ZAkTIin-h */\n[\n  /* Start with the default input params */\n  $states.result[3],\n  /* Then take what weve got in the draft inputs */\n  $draftInputs,\n  /* Combine the states results for the workflow outputs that are inputs for rnasum */\n  (\n   [\n     $states.result[0],\n     $states.result[1],\n     $states.result[2]\n   ] ~> $merge\n  ),\n  /* Add in the required sampleName, subjectId and project Id */\n  /* These must match the value of the library id */\n  {\n    \"sampleName\": $draftTags.tumorRnaLibraryId,\n    \"subjectId\": $draftTags.individualId,\n    \"project\": $draftTags.projectId,\n    \"reportDir\": $draftTags.individualId & '__' & $draftTags.tumorRnaLibraryId\n  }\n]\n/* Combine list of objects */\n~> $merge\n/* Sift out inputs with null values */\n~> $sift(function($v, $k){ $v != null }) %}"
      }
    },
    "Make new WRU event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__generate_wru_event_object_with_merged_data_lambda_function_arn__}",
        "Payload": {
          "portalRunId": "{% $draftDetail.portalRunId %}",
          "libraries": "{% $libraries %}",
          "payload": {
            "version": "{% $draftPayload.version ? $draftPayload.version : '${__default_payload_version__}' %}",
            "data": {
              "inputs": "{% $draftInputs %}",
              "tags": "{% $tags %}",
              "engineParameters": "{% $engineParameters %}"
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Compare payload",
      "Assign": {
        "draftWorkflowRunUpdate": "{% $states.result.Payload.workflowRunUpdate %}"
      }
    },
    "Compare payload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__compare_payload_lambda_function_arn__}",
        "Payload": {
          "oldPayload": "{% $draftPayload ~> \n| $ | {}, [\"orcabusId\", \"refId\"] | %}",
          "newPayload": "{% $draftWorkflowRunUpdate.payload %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Has changed"
    },
    "Has changed": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "New workflow manager deployed",
          "Condition": "{% $states.input.hasChanged %}",
          "Comment": "Payload has changed"
        }
      ],
      "Default": "Skip push event"
    },
    "New workflow manager deployed": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% ${__new_workflow_manager_is_deployed__} %}",
          "Comment": "New Workflow Manager is Deployed",
          "Next": "Put DRAFT update event"
        }
      ],
      "Default": "Push DRAFT Event (legacy)"
    },
    "Put DRAFT update event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% $merge([\n  $draftWorkflowRunUpdate,\n  {\n    \"timestamp\": $states.context.State.EnteredTime }\n])\n/* Remove null inputs like id */\n~> $sift(function($v, $k){$v != null}) %}",
            "DetailType": "${__workflow_run_update_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    },
    "Skip push event": {
      "Type": "Pass",
      "End": true
    },
    "Push DRAFT Event (legacy)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Detail": "{% /* https://try.jsonata.org/r0aCmiix- */\n$merge([\n  $draftWorkflowRunUpdate,\n  {\n    \"timestamp\": $states.context.State.EnteredTime,\n    \"libraries\": ($libraries ~> | $ | {}, [\"readsets\"] |)\n  }\n]) ~>\n/* Renamed libraries to linkedLibraries using the transform method */\n| $ | {\"linkedLibraries\": libraries}, [\"libraries\"] | ~>\n/* Renamed workflowName and workflowVersion using the transform method */\n| $ | {\"workflowName\": workflow.name, \"workflowVersion\": workflow.version}, [\"workflow\"] | %}",
            "DetailType": "${__workflow_run_state_change_event_detail_type__}",
            "EventBusName": "${__event_bus_name__}",
            "Source": "${__stack_source__}"
          }
        ]
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
